$technology-item-border: 1px solid #333;

.technology-list-item {
    .media {
        // Have the contents be vertically centered.
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;

        // Apply a border all around
        border: $technology-item-border;
    }

    .media-left {
        // Only apply border to the right
        border-right: $technology-item-border;
    }
}