// Colors

// Replace Colors
$primary: $yaleBlue;
$light: $ghostWhite;

// Add Secondary Color Set
$secondary: $tangerine;
$secondary-invert: findColorInvert($secondary);
$custom-colors: ("secondary": ($secondary, $secondary-invert));